.App {
  text-align: center;
}

input {
  margin-right: 5px;
}

button {
  margin: 5px;
}

.canned-message-sent {
  display: flex;
  justify-content: flex-end;
  background-color: dodgerblue;
  border-radius: 2px;
  margin-bottom: 5px;
}

.canned-message-received {
  display: flex;
  justify-content: flex-start;
  background-color: lightgreen;
  border-radius: 2px;
  margin-bottom: 5px;
}

.canned-message-sent p,
.canned-message-received p {
  display: inline;
  color: white;
  margin: 10px;
}

.messages-container {
  padding: 0 15%;
  margin-bottom: 10px;
}
